.root {
  padding-top: 250px;
  height: 100vh;

  .card {
    width: 260px;
    margin: 0 auto;
    text-align: center;
  }

  .logoWrapper {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .action {
    margin-top: 25px;
    width: 75%;
  }
}
